{% extends "admin/layout.html" %}

{% block title %}Users - {{ super() }}{% endblock %}

{% block content %}
<div class="ui four cards">
  {% for app in apps %}
    <div class="ui card">
      <div class="image">
        {% if app.days < 7 %}
          <div class="ui blue ribbon label">
            <i class="certificate icon"></i> Ny
          </div>
        {% endif %}
        <img src="{{ app.owner[0].avatarUrl|d("/static/images/image.png") }}">
      </div>
      <div class="content">
        <a class="header">{{ app.provider }}</a>
        <div class="meta">
          <span class="date">{{ app.updated|dateformat("YYYY-MM-DD HH:MM") }}</span>
        </div>
        <div class="description">{{ app.contact.name }}</div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="users icon"></i> {{ app.owner.length }}
          {% if app.owner.length == 1 %}eier{% else %}eiere{% endif %}
        </span>
        <i class="cubes icon"></i> {{ app.apps.length }}
        {% if app.owner.length == 1 %}app{% else %}apps{% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
