# vi:syntax=json
{
    "extends": "airbnb-base",
    "env": {
      "mocha": true,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "modules": false
      }
    },
    "rules": {
      "strict": ["off"],
      "no-param-reassign": ["error", { "props": false }],
      "no-underscore-dangle": ["error", { "allow": ["_id", "_hasOpened"] }]
    }
}
