<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Datastandard</h4>
        <div class="ui inverted link list">
          <a href="http://www.nasjonalturbase.no/data/bilder" class="item">
            Bilder
          </a>
          <a href="http://www.nasjonalturbase.no/data/grupper" class="item">
            Grupper
          </a>
          <a href="http://www.nasjonalturbase.no/data/omrader" class="item">
            Områder
          </a>
          <a href="http://www.nasjonalturbase.no/data/steder" class="item">
            Steder
          </a>
          <a href="http://www.nasjonalturbase.no/data/turer" class="item">
            Turer
          </a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">GitHub</h4>
        <div class="ui inverted link list">
          <a href="https://github.com/Turistforeningen/Turbasen" class="item">
            Turbasen
          </a>
          <a href="https://github.com/Turistforeningen/Turadmin" class="item">
            Turadmin
          </a>
          <a href="https://github.com/Turistforeningen/Hytteadmin" class="item">
            Hytteadmin
          </a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Dokumentasjon</h4>
        <div class="ui inverted link list">
          <a href="http://www.nasjonalturbase.no/api" class="item">API</a>
          <a href="http://www.nasjonalturbase.no/lisenser" class="item">Lisenser</a>
          <a href="http://www.nasjonalturbase.no/navngiving" class="item">
            Navngiving
          </a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Nasjonal Turbase Developer</h4>
        <p>Utviklerportal for Nasjonal Turbase.</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui centered">
      <i class="huge map icon"></i>
    </div>
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">Om</a>
      <a class="item" href="http://www.nasjonalturbase.no/kontakt">Kontakt</a>
      <a class="item" href="https://docs.google.com/document/d/13aB_C9CGDYYUvfbVgSwjpHnzoUx2uR2NmeEvk7OGnZU/pub">
        Vilkår
      </a>
    </div>
  </div>
</div>
